.pytest_cache
.venv
.vscode
asyncio\__pycache__
pytest_Tutorials_and_Notes\.pytest_cache
pytest_Tutorials_and_Notes\test\.pytest_cache
pytest_Tutorials_and_Notes\test\__pycache__
pytest_Tutorials_and_Notes\test\__init__.py
python\code\__pycache__
Python_API_Development\venv
Python_API_Development\__pycache__
Python_API_Development\routers\__pycache__
Python_API_Development\routers\__init__.py
streamlit\venv
streamlit_application\venv
streamlit_ex_model\venv
streamlit_ex_model\venv
streamlit_fund\venv
streamlit_multipage_app\.venv
Typer\venv
